{
  "extends": ["airbnb-base"],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": 0,
    "new-cap": 0,
    "global-require": 0,
    "no-use-before-define": ["error", { "functions": false }],
    "prefer-template": 0,
    "no-underscore-dangle": 0,
    "no-shadow": 0,
    "no-param-reassign": ["error", { "props": false }]
  }
}